html, body {
  height: 100%;
}

body {
  margin:0;
  padding:0; 
  background-color: #5E345E !important;
  color: white !important;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

button {
  color: white !important;
}

button:hover,
button:active {
  outline: none !important;
}

button:focus {
  outline: 0 !important;
}

.container {
  width: 100%;
}

.glyphicon:hover {
  cursor: pointer;
}

.hide {
  display: none;
}

.fltleft {
  float: left;
}

.fltright {
  float: right;
}

.vAlignCenter {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.btn-group {
  top: 0 !important;
}

.btn-clear {
  background-color: #754B75 !important;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.btn-group button.menuBtn {
  transition-duration: 0s;
}

.btn-group button.menuBtn.clicked {
  background-color: #3B0F3B !important;
}

.btn-group button.menuBtn:first-child.clicked {
  border-bottom-left-radius: 0;
}

.btn-group button.menuBtn:last-child.clicked {
  border-bottom-right-radius: 0;
}

.credit a {
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.credit a:hover, .credit a:focus {
  font-size: 2rem;
  color: white !important;
}

#siteTitles {
  font-family: sans-serif;
  text-align: left;
  padding-left: 0;
  margin: 1rem 0;
}

#pageTitle,
#pageSubtitle {
  float: left;
  display: inline-block;
  margin: 0;
}

#pageTitle {
  font-size: 3rem;
  margin: 0 .5rem -1.26rem 0; 
}

#pageSubtitle {
  font-size: 1.5rem;
  margin-top: 1.26rem;
}

#navbar ul li {
  display: inline;
}

#settingsMenu,
#infoMenu {
  display: none;
  padding: 0 1rem;
  position: absolute;
  top: 5.5rem;
  right: 1.5rem;
  border-radius: 7px 0 7px 7px;
  background-color: #3B0F3B !important;
}

#infoMenu {
  text-align: right;
}

#settingsMenu {
  text-align: center;
  padding-bottom: 1rem;
}

#droneUi {
  text-align: center;
}

#droneUp,
#droneDown {
  height: 25vh;
}

#droneUp h1,
#droneDown h1 {
  margin: 0;
  padding: 0;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

#droneUp:hover,
#droneDown:hover {
  cursor: pointer;
}

#droneDisplay {
  height: 35vh;
  border-top: 3px solid #754B75;
  border-bottom: 3px solid #754B75;
}

#droneDisplay span {
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 8rem;
  text-align: center;
}

#droneDisplay span.octave {
  font-size: 5rem;
  font-weight: bold;
  margin-right: 2rem;
}

#droneDisplay span.frequency {
  font-size: 5rem;
}

#droneDisplay button {
  width: 20vw;
  margin: 0 1rem;
  padding: 1rem;
  /*font-size: 2rem;*/
  background-color: #754B75 !important;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  border: none;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

#droneDisplay button:hover,
#droneDisplay button:focus {
  background-color: #3B0F3B !important;
}

#droneDisplay div.controls {
  margin-bottom: 2rem;
}

#stop {
  display: none;
}

#footer p {
  margin: 1rem;
}

@media (min-width: 768px) {


  #droneDisplay,
  #droneUp,
  #droneDown {
    height: 80vh;
  }

  #droneDisplay {
    border-top: none;
    border-bottom: none;
    border-left: 3px solid #754B75;
    border-right: 3px solid #754B75;
  }

  #droneDisplay button {
    margin: 1rem;
  }

  #footer {
    clear: both;
  }
}

@media (min-width: 500px) and (orientation:landscape) {

  #droneDisplay,
  #droneUp,
  #droneDown {
    height: 80vh;
  }

  .col-sm-4 {
    float: left;
    width: 33.33333333%;
  }
  
  #droneDisplay {
    border-top: none;
    border-bottom: none;
    border-left: 3px solid #754B75;
    border-right: 3px solid #754B75;
  }
  
  #droneDisplay button {
    margin: .2rem;
  }

}

@media (max-width: 768px) and (orientation: landscape){
  
  #pageSubtitle {
    margin: 0;
  }

  #droneDisplay span {
    font-size: 5rem;
  }

  #droneDisplay span.octave,
  #droneDisplay span.frequency {
    font-size: 3rem;
  }

  #droneDisplay button {
    margin: 1rem;
  }

}
